{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Page not Found
{% endblock %}

{% block content %}
    <div id="pageNotFound">
        <h1>Error! Page not Found</h1>
        <p>Achievement unlocked: How did we get here?</p>
        <a href="/" role="Button">Get me out of here!</a>
    </div>
{% endblock %}