{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - About
{% endblock %}

{% block content %}
    <h1>abowt1!!1!1</h1>
    <p>flask isa web abb enjin!1!!1</p>
    <h2>Super earth. Our home. Prosperity. Liberty. Democracy. Our way of life. But freedom doesn't come free. No! Sweet liberty! NOOOOOOOO!!! (laughs) look familiar? Scenes like these are happening all over the galaxy right now! You could be next. That is, unless you make the most important decision of your life, and prove to yourself that you have the courage, and the strength to be free. Join... the Helldivers. Become part of an elite peacekeeping force! See exotic new lifeforms. And spread Managed Democracy throughout the galaxy. Become a HERO. Become a LEGEND. Become... a Helldiver!</h2>
{% endblock %}