{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - :superEarthSalute:
{% endblock %}

{% block content %}
    <h1>abowt1!!1!1</h1>
    <p>flask isa web abb enjin!1!!1</p>
    <h2>Super earth. Our home. Prosperity. Liberty. Democracy. Our way of life. But freedom doesn't come free. No! Sweet liberty! NOOOOOOOO!!! (laughs) look familiar? Scenes like these are happening all over</h2>
{% endblock %}