{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Number
{% endblock %}

{% block content %}

    <h1>Your Form Results</h1>

    <article>
        <h3>NAME :D</h3>
        {{ name }}
        <h3>AGE :D</h3>
        {{ age }}
        <h1><strong>i hope you like blahaj :></strong></h1>
        {{ creditCard }}
    </article>

{% endblock %}