{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - :superEarthSalute:
{% endblock %}

{% block content %}
    <h1>Helo wurld1!!1!1</h1>
    <p>This is my first flask wep abb!!!</p>
{% endblock %}