{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Number
{% endblock %}

{% block content %}

    <h1>The Number you Entered</h1>

    <article id="random">
        {{ int }}
    </article>

{% endblock %}