article#random {
    font-size: 8rem;
    text-align: center;
    color: red;
    display: flex;
    flex-direction:column
}

article#random a {
    font-size: 3rem;
}

div#pageNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
}